html {
  font-family: "Josefin Slab", "Comfortaa", sans-serif;
  font-size: 1em;
  background: #eee;
  height: 100%;
}

body {
  margin: auto;
}

.container {
  opacity: 1;
  margin: auto;
  text-align: center;
}

.container > .active {
  opacity: 1;
  margin: auto;
}
.backnav {
  background-color: #b0bdc1;
  border-radius: 5rem;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.navigation {
  font-family: cursive, "Comfortaa", sans-serif;
  font-style: italic;
  font-weight: 50;
  font-size: 1.5rem;
  height: 100%;
  margin: auto;
  text-align: center;
}

.navigation a {
  display: inline-block;
  box-sizing: border-box;
  padding: 0em 1em;
  color: #0061a8;
  text-decoration: none;
  text-shadow: 0 1px 0 white;
  transition: width 0.3s, right 0.3s;
  position: relative;
}

.navigation a.active {
  color: #1d202b !important;
  background-color: rgba(255, 255, 255, 0);
  transition: width 0.3s, right 0.3s, background-color 0.3s;
}

.navigation a:hover {
  color: #1d202b;
  /* background-color: rgb(179, 176, 176);
  border-radius: 0.5rem; */
}

.navigation a::after {
  content: "";
  position: absolute;
  left: 1em;
  bottom: 0;
  width: 75%;
  height: 0.15rem;
  background-color: transparent;
  transition: background-color 0.3s;
}

.navigation a:hover::after {
  background-color: #1d202b;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}
#space {
  width: 100px;
}
