html {
  font-family: "Josefin Slab", "Comfortaa", sans-serif;
  font-size: 1em;
  background: #eee;
  height: 100%;
}
.kk12 {
  font: bold;
  font-size: 1.4em;
}
.Footer {
  margin: auto;
}
.footer {
  background-color: #09c;
  color: #fff;
  padding: 20px;
}
.list-unstyled {
  position: relative;
  width: 40em;
  height: 30em;
  margin: auto;
  padding: -2;
  white-space: nowrap;
  font: bold 20px arial;
}

.footer {
  background-color: #09c;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  border-top: 1px solid #666;
}

.footer a {
  color: #fff;
  text-decoration: wavy;
  font-size: 1.5em;
}

.footer a:hover {
  color: #ccc;
}

.page-footer {
  font-family: "Josefin Slab", "Comfortaa", sans-serif;
  background: #eee;
  color: #333;
}
.text-uppercase {
  size: 1em;
}

.page-footer h5 {
  color: #333;
}

.page-footer a {
  color: #09c;
  text-decoration: none;
}

.page-footer a:hover,
.page-footer a:focus {
  color: #c351fa;
  background-color: rgba(255, 255, 255, 0);
  -webkit-transition: width 0.3s, right 0.3s, background-color 0.3s;
  -moz-transition: width 0.3s, right 0.3s, background-color 0.3s;
  -o-transition: width 0.3s, right 0.3s, background-color 0.3s;
  transition: width 0.3s, right 0.3s, background-color 0.3s;
}

.page-footer ul li {
  display: block;
}

.page-footer ul li a {
  color: #09c;
  text-decoration: none;
}

.page-footer ul li a:hover,
.page-footer ul li a:focus {
  color: #c351fa;
}
