.footer-text {
  font-family: Poppins;
  margin-left: -2rem;
  font-size: 1.25rem;
  font-style: bold;
}
.text-uppercase {
  font-family: Poppins;
  font-size: larger;
}
.contact {
  text-align: left;
  left: -1rem;
}
html {
  font-family: "Josefin Slab", "Comfortaa", sans-serif;
  font-size: 2em;
  background: #eee;
  height: 100%;
}
a {
  text-decoration: none !important;
}
.text-center a:hover {
  color: #feda5e !important;
}
